{% extends 'polls/layout.html' %}

{% block content %}
    <p>{{ request.GET.urlencode }} pou</p>
    <div class="col-7 mx-auto bg-white p-5 border border-info rounded">
    <div>
        <div class="text-right">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </div>
        {% if next %}
            <form action="/polls/login/?next={{next}}" method="post" class=" mx-a">
        {%else%}
            <form action="/polls/login/" method="post" class=" mx-a">
        {% endif %}

        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="font-weight-bold">Name</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password" class="font-weight-bold">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <p>
        {% if login_error %}
            <label class="text-danger">{{ login_error }}</label>
        {% endif %}
        </p>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    <div class="my-2">
        <a href="/polls/register/">Register</a>
    </div>
    </div>
{% endblock %}