{% extends 'polls/layout.html' %}

{% block content %}
    <h1>{{ mypost.title }}</h1>
    <img src="/{{ mypost.icon }}">
    <h2>{{ mypost.description }}</h2>
<ul>
{% for candidate in candidate_list%}
    <h3>{{ candidate.name }}</h3>
    <img  src="/{{ candidate.photo }}" alt="candidate.photo">
    <p>{{ candidate.description }}</p>
    <p>{{ candidate.voteCount }}</p>
{% endfor %}
</ul>
<form action="{% url 'polls:vote' mypost.id %}" method="post">
     {% csrf_token %}
   <p><b>please vote!!!</b></p>
     {% for candidate in candidate_list%}
         <label for="choice{{ candidate.id }}">{{ candidate.name }}</label><br />
         <input type="radio" name="choice" id="choice{{ candidate.id }}" value="{{ candidate.id }}" />
     {% endfor %}
    <p><input type="submit" value="Vote"></p>
  </form>
  <p>Created by {{ mypost.userId.username}}</p>
{% endblock %}

