{% extends 'polls/layout.html' %}

{% block content %}
    <div class="col-10 mx-auto bg-white p-5 border border-info rounded">
    <form class="needs-validation" novalidate method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="id_username">Username:</label>
                <input type="text" class="form-control" name="username" maxlength="150" autofocus required id="id_username"  placeholder="Username"/>
                <div class="invalid-feedback helptext">
                    Please choose a username. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_email">Email:</label>
                <input type="email" class="form-control" name="email" required id="id_email" placeholder="Email"/>
                <div class="invalid-feedback">
                    Please provide correct email
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="id_password1">Password:</label>
                <input class="form-control" type="password" name="password1" required id="id_password1" placeholder="Password"/>
                <div class="invalid-feedback helptext">
                    <ul>
                        <li>Your password can&#39;t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can&#39;t be a commonly used password.</li>
                        <li>Your password can&#39;t be entirely numeric.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_password2">Password confirmation:</label>
                <input class="form-control" type="password" name="password2" required id="id_password2" placeholder="Confirm password" />
                <div class="invalid-feedback helptext">
                    <span class="helptext">Enter the same password as before, for verification.</span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="id_first_name">First name:</label>
                <input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name"  placeholder="First name" />
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="id_last_name">Last name:</label>
                <input class="form-control" type="text" name="last_name" maxlength="150" id="id_last_name" placeholder="Last name"/>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>



{% endblock %}